set ssh (echo $SSH_CLIENT)

for FUNC_FILE in (ls $INSTPATH/Utils/Functions/Fish/Universal | grep .fish)
	source $INSTPATH/Utils/Functions/Fish/Universal/$FUNC_FILE
end

switch ( uname -s )
	case Darwin

		for FUNC_FILE in (ls $INSTPATH/Utils/Functions/Fish/macOS | grep .fish)
			source $INSTPATH/Utils/Functions/Fish/macOS/$FUNC_FILE
		end

		for SRC_FILE in (ls $INSTPATH/Constants/Fish/macOS | grep .fish )
			source $INSTPATH/Constants/Fish/macOS/$SRC_FILE
		end
		
		if test $ssh -eq ""
			alias exit='killall Terminal;'
		end

		info

	case Linux
		
	case '*'
		echo Unknown OS
end

set HOST (hostname | awk -F. '{ print $1 }')

if test $ssh -eq ""
	set PCOLOR $localColor
else
	set PCOLOR $remoteColor
	set PSTMT "$USER@$HOST: "
end

function fish_prompt
	set_color white -b $PCOLOR
	printf " %s" $PSTMT
	python $INSTPATH/Utils/dynamic_path.py
	printf " "
	set_color $PCOLOR -b normal
	printf " "
	set_color normal
end
set fish_greeting

if test $ssh -eq ""
	if test $TERM != "screen-256color"	
		if test (tmux ls | grep -c $USER) -eq 1
			tmux a -t $USER
		else
			tmux new -s $USER
		end
	end
end
