set ssh (echo $SSH_CLIENT)
switch ( uname -s )
	case Darwin
		export HOMEBREW_GITHUB_API_TOKEN=3fe366368034695a68bcee2800acf52f9f908dbd
		set PATH /usr/local/texlive/2015basic/bin/universal-darwin $PATH
		
		if test $ssh -eq ""
			alias exit='killall Terminal;'
		end

		function brew_outdated
			brew outdated > ~/.brewoutdated
			cat ~/.brewoutdated
		end

		function brew_update
			brew update
			brew_outdated
		end

		function brew_upgrade
			brew upgrade
			brew_outdated
		end

	case '*'
		echo Unknown OS
end

set HOST (hostname | awk -F. '{ print $1 }')

if test $ssh -eq ""
	set PCOLOR $localColor
else
	set PCOLOR $remoteColor
end

function fish_prompt
	set_color $PCOLOR
	printf $HOST\[" " 
	set_color normal
	python $INSTPATH/Utils/dynamic_path.py
	set_color $PCOLOR
	printf " "\]": "
	set_color normal
end

function sys_info
	python $INSTPATH/Utils/sys_info.py
end


set fish_greeting
sys_info
