set ssh (echo $SSH_CLIENT)

for FUNC_FILE in (ls $INSTPATH/Utils/Functions/Fish/Universal | grep .fish)
	source $INSTPATH/Utils/Functions/Fish/Universal/$FUNC_FILE
end

switch ( uname -s )
	case Darwin

		for FUNC_FILE in (ls $INSTPATH/Utils/Functions/Fish/macOS | grep .fish)
			source $INSTPATH/Utils/Functions/Fish/macOS/$FUNC_FILE
		end

		for SRC_FILE in (ls $INSTPATH/Constants/Fish/macOS | grep .fish )
			source $INSTPATH/Constants/Fish/macOS/$SRC_FILE
		end
		
		if test $ssh -eq ""
			alias exit='killall Terminal;'
		end

		info

	case Linux
		
	case '*'
		echo Unknown OS
end

set HOST (hostname | awk -F. '{ print $1 }')

if test $ssh -eq ""
	if test (whoami) = "iantbaldwin"
		set PCOLOR $localColor
	else
		set PCOLOR yellow
	end
else
	set PCOLOR $remoteColor
end

function fish_prompt
	set_color $PCOLOR
	printf $HOST\[" " 
	set_color normal
	python $INSTPATH/Utils/dynamic_path.py
	set_color $PCOLOR
	printf " "\]" > "
	set_color normal
end
set fish_greeting

if test $TERM != "screen"
	tmux a -t default
end
